section#cards {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 320px);
    grid-template-areas:
      "spot derivitives arena"
      "spot app app";
    grid-gap: 2rem;

    @media (max-width: 1240px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 320px);
      grid-template-areas:
        "spot derivitives"
        "spot arena"
        "app app";
    }

    @media (max-width: 780px) {
      grid-template-columns: 1fr;
      grid-template-rows: 640px repeat(2, 320px) 640px;
      grid-template-areas:
        "spot"
        "derivitives "
        "arena"
        "app";
      .card {
        align-items: flex-start;

        &:first-child {
          background-position: left bottom -200px;
        }

        &:last-child {
          background-position: left bottom;
        }
      }
    }
  }
  .card {
    position: relative;
    padding: 1rem 2rem;
    border-radius: 46px;
    background-color: #0a0a0d;
    border: 4px solid #424549;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    h5 {
      font-size: 1rem;
      font-weight: 500;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 400;
    }

    a {
      color: #aaaaaa;
      font-size: 1rem;
      font-weight: 400;
    }

    div {
      display: grid;
      align-items: center;
      height: 300px;
    }

    span.gradient {
      background: linear-gradient(to right, #487fff, #73b5ff, #cb76ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &::before {
      content: "";
      position: absolute;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background: radial-gradient(rgba(255, 255, 255, 0.12), transparent 70%);
      top: -150px;
      left: -150px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background: radial-gradient(rgba(255, 255, 255, 0.12), transparent 70%);
      bottom: -150px;
      right: -150px;
    }

    &:first-child {
      grid-area: spot;
      background: url(/images/card-1.png) no-repeat center top, #0a0a0d;
    }

    &:last-child {
      grid-area: app;
      background: url(/images/card-4.png) no-repeat right top / 400px, #0a0a0d;
    }
  }
}
