main#main-area {
  background: url(/images/main-background.png) no-repeat center left / cover;
  padding: 5rem 0;

  section {
    padding: 5rem 0;

    @media (max-width: 1240px) {
      padding: 3rem 0;
    }
  }
}
